{% load static %}
<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/dashboard" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'images/alvaro-gym.png' %}" alt="logo-sm-dark" height="30">
                    </span>
                    <span class="logo-lg" style="font-size:20px;color:#fff">
                        <img style="margin-right:0.5rem" src="{% static 'images/logo-sm.png' %}" alt="logo-sm-light" height="40">
                    </span>
                </a>
                <a href="/dashboard" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'images/alvaro-gym.png' %}" alt="logo-sm-light" height="30">
                    </span>
                    <span class="logo-lg" style="font-size:20px;color:#fff">
                        <img style="margin-right:0.5rem" src="{% static 'images/logo-sm.png' %}" alt="logo-sm-light" height="40">
                    </span>
                </a>
            </div>
            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                <i class="ri-menu-2-line align-middle"></i>
            </button>
        </div>
        <div class="d-flex">
            <div class="dropdown d-inline-block user-dropdown">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if user.image %}
                        <img class="rounded-circle header-profile-user" src="{{ user.image.url }}" alt="{{ user.username }}">
                    {% else %}
                        <img class="rounded-circle header-profile-user" src="{% static 'images/users/avatar-2.jpg' %}" alt="{{ user.username }}">
                    {% endif %}
                    <span class="d-none d-xl-inline-block ms-1">{{ user.nama }}</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="{% url "Porfile" %}"><i class="ri-user-line align-middle me-1"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <form id="logout-form" action="{% url 'Logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                    <a class="dropdown-item text-danger" href="#" onclick="document.getElementById('logout-form').submit();">
                        <i class="ri-shut-down-line align-middle me-1 text-danger"></i> Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>