{% extends "partials/base.html" %}
{% load static %}
{% block css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />     
{% endblock css %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Daftar Membership</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'Dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Daftar Membership</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        {% if user.role == "Kasir" %}
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0"></h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#perpanjangModal"><i class="mdi mdi-card-account-details-star me-2" aria-hidden="true"></i> Membership</button>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div id="perpanjangModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form class="modal-content" method="post" action="{% url 'TambahMembership' %}">
                    {% csrf_token %}
                    <div class="modal-header bg-success">
                        <h5 class="modal-title" id="myModalLabel">Tambahkan Membership</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label class="form-label" for="kategori">Kategori</label>
                            <input type="text" class="form-control" name="kategori" id="kategori" value="Membership" readonly required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="username">Username</label>
                            <select class="form-select select2" name="username" id="username" aria-label="Default select example" required>
                                <option selected disabled>Pilih username</option>
                                {% for u in user_list %}
                                    <option value="{{ u.username }}">{{ u.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="jenis_membership">Jenis Membership</label>
                            <select class="form-select" name="jenis_membership" id="jenis_membership" aria-label="Default select example" required>
                                <option selected disabled>Pilih jenis membership</option>
                                {% for listM in membership_list %}
                                    <option data-harga="{{ listM.harga }}" value="{{ listM.id }}">{{ listM.nama }} ({{ listM.durasi_hari }} hari)</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="jumlah">Harga</label>
                            <input type="text" class="form-control" id="harga" name="jumlah" readonly required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        <!-- end page title -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Paket Membership</th>
                                    <th>Waktu Registrasi</th>
                                    <th>Berakhir Pada</th>
                                    <th>Akses Gym</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for m in memberships %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ m.user.username }}</td>
                                    <td>{{ m.produk.nama }}</td>
                                    <td>{{ m.tanggal_mulai|date:"d F Y" }}</td>
                                    <td>{{ m.tanggal_akhir|date:"d F Y" }}</td>
                                    <td>
                                        {% if m.sisa_hari < 1 %}
                                            Expired Member
                                        {% else %}
                                            {{ m.sisa_hari }} hari
                                        {% endif %}
                                    </td>
                                </tr>
                                
                                {% empty %}
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page-content -->
{% endblock content %}
{% block js %}
    <script>
        $('#perpanjangModal').on('shown.bs.modal', function () {
            $('#username').select2({
                dropdownParent: $('#perpanjangModal')
            });
        });
    </script>
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const jenisMembershipSelect = document.getElementById('jenis_membership');
            const hargaInput = document.getElementById('harga');
            jenisMembershipSelect.addEventListener('change', function() {
                const selectedOption = jenisMembershipSelect.options[jenisMembershipSelect.selectedIndex];
                const harga = selectedOption.getAttribute('data-harga');
                hargaInput.value = harga;
            });
        });
    </script>
    <script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/pages/form-advanced.init.js' %}"></script>
{% endblock js %}