{% extends "partials/base.html" %}
{% load static %}
{% block css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />     
{% endblock css %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Daftar Trainer</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'Dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Daftar Trainer</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        {% if user.role == "Kasir" %}
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0"></h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#perpanjangModal"><i class="mdi mdi-dumbbell me-2" aria-hidden="true"></i> Trainer</button>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div id="perpanjangModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form class="modal-content" method="post" action="{% url 'TambahTrainer' %}">
                    {% csrf_token %}
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title" id="myModalLabel">Tambahkan Trainer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label class="form-label" for="kategori">Kategori</label>
                            <input type="text" class="form-control" name="kategori" id="kategori" value="Trainer" readonly required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="username">Username</label>
                            <select id="usernameSelect" class="form-select select2" name="username" aria-label="Default select example" required>
                                <option selected disabled>Pilih username</option>
                                {% for u in user_list %}
                                    <option data-telepon="{{ u.telepon }}" value="{{ u.username }}">{{ u.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="telepon">Contact</label>
                            <input type="text" class="form-control" id="teleponInput" name="telepon" required>
                        </div>
                        
                        <div class="form-group mb-3">
                            <label class="form-label" for="jenis_session">Jenis Session</label>
                            <select class="form-select" name="jenis_session" id="jenis_session" aria-label="Default select example" required>
                                <option selected disabled>Pilih jenis session</option>
                                {% for trainer in produk_list %}
                                    <option data-harga="{{ trainer.harga }}" value="{{ trainer.id }}">{{ trainer.nama }} ({{ trainer.durasi_hari }} sesi)</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="jumlah">Harga</label>
                            <input type="text" class="form-control" id="hargaT" name="jumlah" readonly required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="coach">Coach</label>
                            <select class="form-select" name="coach" id="coach" aria-label="Default select example" required>
                                <option selected disabled>Pilih Coach</option>
                                {% for coach in coach_list %}
                                    <option value="{{ coach.id }}">{{ coach.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        <!-- end page title -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Client</th>
                                    <th>Contact</th>
                                    {% if user.role != "Coach" %}
                                        <th>Coach</th>
                                    {% endif %}
                                    <th>Paket Trainer</th>
                                    <th>Jumlah Sesi</th>
                                    <th>Rencana Mulai</th>
                                    <th>Rencana Selesai</th>
                                    <th>Status</th>
                                    {% if user.role == "Coach" %}
                                        <th>Action</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% load tz %}
                                {% for trainer in trainerList %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ trainer.user.username }}</td>
                                    <td>{{ trainer.user.telepon }}</td>
                                    {% if user.role != "Coach" %}
                                        <td>{{ trainer.coach.nama }}</td>
                                    {% endif %}
                                    <td>{{ trainer.produk.nama }}</td>
                                    <td>{{ trainer.jumlah_sesi }} sesi</td>
                                    <td>
                                        {% if trainer.schedules.exists %}
                                            {% with first_schedule=trainer.schedules.first %}
                                                {{ first_schedule.mulai|date:"l" }}, 
                                                {{ first_schedule.mulai|date:"d F Y" }}
                                            {% endwith %}
                                        {% else %}
                                            Jadwal tidak tersedia
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if trainer.schedules.exists %}
                                            {% with last_schedule=trainer.schedules.last %}
                                                {{ last_schedule.mulai|date:"l" }}, 
                                                {{ last_schedule.mulai|date:"d F Y" }}
                                            {% endwith %}
                                        {% else %}
                                            Jadwal tidak tersedia
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ trainer.status }}
                                    </td>
                                    {% if user.role == "Coach" %}
                                        <td>
                                            <a href="{% url 'DetailTrainer' trainer.id %}" class="btn btn-primary waves-effect waves-light"><i class="mdi mdi-eye-check"></i></a>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% empty %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page-content -->
{% endblock content %}
{% block js %}
    <script>
        $('#perpanjangModal').on('shown.bs.modal', function () {
            $('#usernameSelect').select2({
                dropdownParent: $('#perpanjangModal')
            }).on('change', function() {
                var selectedOption = $(this).find('option:selected');
                var telepon = selectedOption.data('telepon');
                $('#teleponInput').val(telepon);
            });
        });
    </script>
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const jenisTrainerSelect = document.getElementById('jenis_session');
            const hargaInputT = document.getElementById('hargaT');
            jenisTrainerSelect.addEventListener('change', function() {
                const selectedOption = jenisTrainerSelect.options[jenisTrainerSelect.selectedIndex];
                const harga = selectedOption.getAttribute('data-harga');
                hargaInputT.value = harga;
            });
        });
    </script>
    <script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/pages/form-advanced.init.js' %}"></script>
{% endblock js %}