{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Alvaro Gym" name="description" />
        <meta content="Themesdesign" name="author" />
        <link rel="shortcut icon" href="{% static 'images/favicon.jpg' %}">

        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    </head>
    <body class="auth-body-bg">
        <div class="accountbg"></div>
        <div class="wrapper-page">
            <div class="card">

                <div class="card-body">
                    <h3 class="text-center mt-0 mb-3">
                        <a style="color: white;" href="/" class="logo">Alvaro Gym</a>
                    </h3>
                    <h5 class="text-center mt-0 text-color"><b>Sign In</b></h5>
                    {% if messages %}
                        <div class="alert alert-danger mt-3">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form class="form-horizontal mt-3 mx-3" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <div class="col-12">
                                <input style="background-color: white;" class="form-control" type="text" name="username" required="" placeholder="Username" value="{{ form.username.value|default_if_none:'' }}">
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <div class="col-12">
                                <input style="background-color: white;" class="form-control" type="password" name="password" required="" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-12">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox-signup" type="checkbox" checked="">
                                    <label for="checkbox-signup" class="text-color">
                                        Remember me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center mt-3">
                            <div class="col-12">
                                <button class="btn btn-primary btn-block btn-lg waves-effect waves-light w-100" type="submit">Log In</button>
                            </div>
                        </div>

                        <div class="form-group row mt-4 mb-0">
                            <div class="col-sm-7">
                                <a href="#" class="text-color">
                                    <i class="mdi mdi-lock me-1"></i> Forgot your password?</a>
                            </div>
                            <div class="col-sm-5 text-right">
                                <a href="#" class="text-color">Create an account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
