{% extends "partials/base.html" %}
{% load static %}
{% block css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css">
<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
{% endblock css %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Riwayat Transaksi</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'Dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Riwayat Transaksi</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <form method="get" action="{% url 'RiwayatTransaksi' %}" class="offcanvas offcanvas-end" tabindex="-1"
            id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h4 id="offcanvasRightLabel">Filter Transaksi</h4>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="dropdown-divider"></div>
            <div class="offcanvas-body">
                <div class="mb-4">
                    <div class="text-center mb-3">
                        <h5 class="font-size-14 mb-4">Rentang Waktu</h5>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="row">
                            <div class="col-md-6 col-6">
                                <input type="date" class="form-control" id="tanggal_awal" name="tanggal_awal"
                                    value="{{ tanggal_awal }}">
                            </div>
                            <div class="col-md-6 col-6">
                                <input type="date" class="form-control" id="tanggal_akhir" name="tanggal_akhir"
                                    value="{{ tanggal_akhir }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="mb-3">
                    <div class="d-flex col gap-3">
                        <h5 class="font-size-14">Jenis Transaksi : </h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jenis" id="formRadios1" value=""
                                {% if not jenis %}checked{% endif %}>
                            <label class="form-check-label" for="formRadios1">
                                None
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jenis" id="formRadios2" value="Masuk"
                                {% if jenis == 'Masuk' %}checked{% endif %}>
                            <label class="form-check-label" for="formRadios2">
                                Masuk
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="jenis" id="formRadios3" value="Keluar"
                                {% if jenis == 'Keluar' %}checked{% endif %}>
                            <label class="form-check-label" for="formRadios3">
                                Keluar
                            </label>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="form-group mb-3">
                    <label class="form-label" for="kategori">Kategori Transaksi</label>
                    <select class="form-select" name="kategori" id="kategori">
                        <option value="" {% if not kategori %}selected{% endif %}>Pilih kategori</option>
                        <option value="Denda" {% if kategori == 'Denda' %}selected{% endif %}>Denda</option>
                        <option value="Trainer" {% if kategori == 'Trainer' %}selected{% endif %}>Trainer</option>
                        <option value="Membership" {% if kategori == 'Membership' %}selected{% endif %}>Membership
                        </option>
                        <option value="Operasional" {% if kategori == 'Operasional' %}selected{% endif %}>Operasional
                        </option>
                        <option value="Online" {% if kategori == 'Online' %}selected{% endif %}>Online</option>
                    </select>
                </div>
                <div class="dropdown-divider"></div>
                <div class="form-group mb-3">
                    <label class="form-label" for="status">Status Transaksi</label>
                    <select class="form-select" name="status" >
                        <option value="" {% if not status %}selected{% endif %}>Pilih Status</option>
                        <option value="Berhasil" {% if status == 'Berhasil' %}selected{% endif %}>Berhasil</option>
                        <option value="Batal" {% if status == 'Batal' %}selected{% endif %}>Batal</option>
                        <option value="Belum Bayar" {% if status == 'Belum Bayar' %}selected{% endif %}>Belum Bayar
                        </option>
                    </select>
                </div>
            </div>
            <div class="align-item-end p-4">
                <div class="justify-content-center d-flex">
                    <button type="submit" class="btn btn-primary"><i class=" fas fa-search me-2"
                            aria-hidden="true"></i>Search</button>
                </div>
            </div>
        </form>
        <!-- end page title -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                            <h4 class="mb-sm-0"></h4>
                                            <div class="page-title-right">
                                                <ol class="breadcrumb m-0">
                                                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                                                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i
                                                            class="mdi mdi-filter-variant me-2" aria-hidden="true"></i> Filter Transaksi</button>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <tr>
                                    <th>#</th>
                                    <th>Tanggal</th>
                                    <th>Nomor Invoice</th>
                                    <th>Status</th>
                                    <th>Jenis</th>
                                    <th>Kategori</th>
                                    <th>Item</th>
                                    <th>Jumlah</th>
                                    <th>Author</th>
                                    <th>Keterangan</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaksi in transaksi_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ transaksi.tanggal_transaksi|date:"d F Y H:i" }}</td>
                                    <td>{{ transaksi.invoice }}</td>
                                    <td>{{ transaksi.status }}</td>
                                    <td>
                                        {% if transaksi.jenis == 'Masuk' %}
                                        Masuk <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                                        {% elif transaksi.jenis == 'Keluar' %}
                                        Keluar <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ transaksi.kategori }}</td>
                                    <td>{{ transaksi.nama }}</td>
                                    <td class="format-rupiah">{{ transaksi.jumlah }}</td>
                                    <td>
                                        {{ transaksi.user.username }} - ({{ transaksi.user.role }})
                                    </td>
                                    <td>
                                        {{ transaksi.keterangan }}
                                    </td>
                                </tr>
                                {% empty %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <dl class="row mb-0 mt-3">
                            <div class="col-12 d-flex">
                                <dt class="col-sm-3">Total Pendapatan</dt>
                                <dd class="col-sm-9">&nbsp: <span class="format-rupiah">{{ pendapatan }}</span></dd>
                            </div>
                            <div class="col-12 d-flex">
                                <dt class="col-sm-3">Total Pengeluaran</dt>
                                <dd class="col-sm-9">&nbsp: <span class="format-rupiah">{{ pengeluaran }}</span></dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page-content -->
{% endblock content %}
{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elements = document.querySelectorAll('.format-rupiah');
        elements.forEach(function (element) {
            var totalPendapatan = element.textContent.trim();
            var totalPendapatanNumber = parseFloat(totalPendapatan.replace(/,/g, ''));
            var formattedValue = totalPendapatanNumber.toLocaleString('id-ID', {
                style: 'currency',
                currency: 'IDR',
                minimumFractionDigits: 0,
                maximumFractionDigits: 0
            });
            element.textContent = formattedValue;
        });
    });
</script>
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>
{% endblock js %}